html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.backgroundImages{
  position: absolute;
  width: 50%;
  height: 100%;
}

#subBackgroundImageA{
  top: 0;
  left: 0;
  z-index: 1;
}

#subBackgroundImageB{
  top: 0;
  left: 50%;
  z-index: 2;
}

#mainBackgroundImage{
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0);
}

#initScreen{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
  display: none;
  z-index: 10;
}